In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
### Read csv
df = pd.read_csv("MRTS-clean.csv")

C:\Users\fhelm\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1,2,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df

,cat_idx,cat_code,cat_desc,per_idx,cat_idx.1,dt_idx,et_idx,geo_idx,is_adj,val
0,1.0,44X72,44X72: Retail Trade and Food Services,1,5,1,0,1,0,130683
1,2.0,44Y72,"44Y72: Retail Trade and Food Services, ex Auto",1,5,1,0,1,1,146925
2,3.0,44Z72,"44Z72: Retail Trade and Food Services, ex Gas",1,6,1,0,1,0,100872
3,4.0,44W72,"44W72: Retail Trade and Food Services, ex Auto...",1,6,1,0,1,1,113447
4,5.0,44000,44000: Retail Trade,1,7,1,0,1,0,33906
...,...,...,...,...,...,...,...,...,...,...
165956,NaN,NaN,NaN,359,6,4,0,1,0,1.6
165957,NaN,NaN,NaN,359,8,4,0,1,0,5.4
165958,NaN,NaN,NaN,359,14,4,0,1,0,2
165959,NaN,NaN,NaN,359,23,4,0,1,0,-0.3
165960,NaN,NaN,NaN,359,27,4,0,1,0,2.2

In [5]:
keys_df = df.pop('cat_idx', 'cat_code', 'cat_desc')
keys_df

TypeError: pop() takes 2 positional arguments but 4 were given